# Sets

###### Sets: set of collection of objects

<br>Do not hold duplicate items
<br>Stors elements in no particular order
<br>use {}

In [6]:
#Create a set
age={56,52,41,63,41}
print(age)
age.update('87')
print(age)
#removes duplicate element

{56, 41, 52, 63}
{41, '8', '7', 52, 56, 63}

In [3]:
employee_name={'Ram','Preeti','Satish','John','Nirmal'}
print(employee_name)
#ordered is not followed while printing

{'John', 'Ram', 'Nirmal', 'Preeti', 'Satish'}

##### Modify set using add() - add elements to the existing set at any position
Syntax: set_name.add(object)

In [ ]:
employee_name.add('Ganesh')
print(employee_name)

###### Modify set using discard()- removes matching object from an existing set
Syntax: set_name.discard(object)

In [4]:
employee_name.discard('John')
print(employee_name)

{'Ram', 'Nirmal', 'Preeti', 'Satish'}

###### Modify set using clear()
<br>clear()-removes all the elements from an existing set
<br>Syntax: set_name.clear()

In [7]:
employee_name.clear()
print(employee_name)
#empty set

set()

In [10]:
#Set operations
Junior_datascientist={'R','Python','Tableau'}
Datascientist={'R','Python','Scala','Java','Tableau'}
print(Junior_datascientist)
print(Datascientist)
print(Junior_datascientis+Datascientist)//Error

{'R', 'Python', 'Tableau'}
{'Tableau', 'R', 'Java', 'Python', 'Scala'}

NameError: name 'Junior_datascientis' is not defined

# Set Operation

###### <br>union()-returns all elements belonging to both set A and B
<br>set_A.union(set_B)

In [9]:
union=Junior_datascientist.union(Datascientist)
print(union)

{'Tableau', 'R', 'Java', 'Python', 'Scala'}

###### intersection() - returns elements common to set A and B
<br>Syntax: set_A.intersection(set_B)

In [11]:
intersection=Junior_datascientist.intersection(Datascientist)
print(intersection)

{'R', 'Python', 'Tableau'}

###### difference()- returns elements belonging to A but not B
<br>Syntax:set_A.difference(set_B)

In [14]:
diff=Junior_datascientist.difference(Datascientist)
print(diff)
diff1=Datascientist.difference(Junior_datascientist)
print(diff1)

set()
{'Java', 'Scala'}

###### Symmetric difference()- returns elements not common to both sets
<br>Syntax:set_A.symmetric_difference(set_B)

In [ ]:
symm_difference=Junior_datascientist.symmetric_difference(Datascientist)
print(symm_difference)

# Dictionary: key-value pairs
Initialize a dict by curly brackets {}

In [ ]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]

In [31]:
kw = {
  "country": "india",  "capital": "delhi",  "independence": 1947
}

print(kw)

for index in range(1, 10):
    kw[index] = "%i value"%index

{'country': 'india', 'capital': 'delhi', 'independence': 1947}

In [36]:
d = {} # empty dictionary
d[1] = "1 abc" # add a key-value by using bracket (key). You can put anything in key/value.
print(d)

{1: '1 abc'}

In [34]:
# Use for loop to add values
for index in range(2, 10):
    d[index] = "%i value"%index
print(d)

print("All the keys: " + str(d.keys()))

print("All the values: " + str(d.values()))

{1: '1 value', 2: '2 value', 3: '3 value', 4: '4 value', 5: '5 value', 6: '6 value', 7: '7 value', 8: '8 value', 9: '9 value'}
All the keys: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9])
All the values: dict_values(['1 value', '2 value', '3 value', '4 value', '5 value', '6 value', '7 value', '8 value', '9 value'])

In [37]:
for key in d:
    print("Key is: %i, Value is : %s"%(key, d[key]))

Key is: 1, Value is : 1 abc

# Control Logics
In the following examples, we show examples of comparison, if-else loop, for loop, and while loop.

Comparison
Python syntax for comparison is the same as our hand-written convention:

Larger (or equal): > (>=)
Smaller (or equal): < (<=)
Equal to: == (Notie here that there are double equal signs)
Not equal to: !=

In [ ]:
3 == 5

In [ ]:
72 >= 2

In [ ]:
store_name = "HyVee"

In [ ]:
store_name == "HyVee" # Will return a boolean value True or False

In [ ]:
print(2.2 * 3.0)
2.2 * 3.0 == 6.6

In [ ]:
3.3 * 2.0 == 6.6

In [ ]:

print(float.hex(2.2 * 3.0))
print(float.hex(3.3 * 2.0))
print(float.hex(6.6))

# If-else

In [ ]:
sum_=6

In [ ]:
if sum_ == 0:
    print("sum_ is 0")
elif sum_ < 0:
    print("sum_ is less than 0")
else:
    print("sum_ is above 0 and its value is " + str(sum_)) # Cast sum_ into string type.

In [ ]:
if sum_ > 5:
    print('sum_ is above 5')

In [ ]:

store_name = 'Walmart'
#store_name = 'Hyvee'

In [ ]:
if 'Wal' in store_name:
    print("The store is not Walmart. It's " + store_name + ".")
else:
    print("The store is Walmart.")

# For loop: Iterating thru a sequence

In [ ]:
for letter in store_name:
    print(letter)

###### range() is a function to create interger sequences:

Note that Python 3 now returns an iterator instead of actual list with range function

In [ ]:
print("range(5) gives" + str(list(range(5))))
# By default starts from 0

print("range(1,9) gives: " + str(list(range(1, 9)))) 
# From 1 to 9-1 (Again the end index is exclusive.)

In [ ]:
for index in range(len(store_name)): # length of a sequence
    print("The %ith letter in store_name is: %s"%(index, store_name[index]))

# While loop: Keep doing until condition no longer holds.
Use for when you know the exact number of iterations; use while when you do not (e.g., checking convergence).

In [ ]:
x = 2

In [ ]:
while x < 10:
    print(x)
    x = x + (x-1)
    #x += x-1

###### Notes on break and continue
break means get out of the loop immediately. Any code after the break will NOT be executed.

In [ ]:
store_name = 'Walmart'

In [ ]:

index = 0
while True:
    print(store_name[index])
    index += 1 # a += b means a = a + b
    if store_name[index] == "a":
        print("End at a")
        break # instead of setting flag to False, we can directly break out of the loop
        print("Hello!") # This will NOT be run

In [ ]:
for letter in store_name:
    if letter == "a":
        continue # Not printing V
    else:
        print(letter)

In [ ]:
index = 0
while index <= len(store_name)-1:
    print(store_name[index])
    if store_name[index] == "a":
        print("This is an `a`")
        index += 1 # a += b means a = a + b
        continue
    print("Hello!") # This will NOT be run
    index += 1 # a += b means a = a + b